Package: bird2-doc
Source: bird2
Version: 2.0.8-1~buster+xtremenitro
Architecture: all
Maintainer: Ondřej Surý <ondrej@debian.org>
Installed-Size: 1728
Section: doc
Priority: optional
Homepage: https://bird.network.cz/
Description: Internet Routing Daemon - documentation
 BIRD is an Internet routing daemon with full support for all the major
 routing protocols. It allows redistribution between protocols with a
 powerful route filtering syntax and an easy-to-use configuration
 interface.
 .
 This package provides the user and developer documentation.
