Package: bird2-dbgsym
Source: bird2
Version: 2.0.8-1~buster+xtremenitro
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Ondřej Surý <ondrej@debian.org>
Installed-Size: 1255
Depends: bird2 (= 2.0.8-1~buster+xtremenitro)
Section: debug
Priority: optional
Description: debug symbols for bird2
Build-Ids: 0c590adb2cd65f37bb41dba2cb60ca792d1cee20 c7f7b2045d57d13ac76581054acfb08b0ecab956 ea94889ad5ceda93a547cdbd22ba7f41f56f0998
